body{
    background: #ffffff url("img_tree.png") no-repeat right top;
}

h1{
    background-color: green;
}

div{
    background-color: lightblue;
    opacity: 0.3;
}

p{
    background-color: yellow;
}

div{
    background: rgba(0, 128, 0, 0.3)
}
